/Heiflow.Susbed/
/Heiflow.Plugins.Susbed/
/UnitTest/
/packages/
/MiscUtil/
/Heiflow.Spatial/
/Heiflow.Controls.WPF/
/Heiflow.Visualization.Applications/
/Heiflow.Visualization.Core/
/Heiflow.Visualization.Display/
/Heiflow.Visualization.Studio/
/DotSpatial-master/
/bin/Plugin/
/bin/Release/
/bin/VGS backup/
/bin/Visualization/
Heiflow.sln
*.pdb
Visual Heiflow.V12.suo
